<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/quan-tri}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">NewsWave</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/quan-tri}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý người dùng
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccount"
           aria-expanded="true" aria-controls="collapseAccount">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Người dùng</span>
        </a>
        <div id="collapseAccount" class="collapse" aria-labelledby="headingAccount" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thao tác:</h6>
                <a class="collapse-item" th:href="@{/quan-tri/nguoi-dung/danh-sach}">Danh sách</a>
                <a class="collapse-item" th:href="@{/quan-tri/nguoi-dung/them}">Thêm mới</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/quan-tri/quyen/danh-sach}">
            <i class="fas fa-fw fa-universal-access"></i>
            <span>Quyền người dùng</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/quan-tri/ma-tao-lai-mat-khau/danh-sach}">
            <i class="fas fa-fw fa-barcode"></i>
            <span>Mã tạo lại mật khẩu</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý bài viết
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePost"
           aria-expanded="true" aria-controls="collapsePost">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Bài viết</span>
        </a>
        <div id="collapsePost" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thao tác:</h6>
                <a class="collapse-item" th:href="@{/quan-tri/bai-viet/danh-sach}">Danh sách</a>
                <a class="collapse-item" th:href="@{/quan-tri/bai-viet/them}">Thêm mới</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategory"
           aria-expanded="true" aria-controls="collapseCategory">
            <i class="fas fa-fw fa-list"></i>
            <span>Danh mục bài viết</span>
        </a>
        <div id="collapseCategory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thao tác:</h6>
                <a class="collapse-item" th:href="@{/quan-tri/danh-muc/danh-sach}">Danh sách</a>
                <a class="collapse-item" th:href="@{/quan-tri/danh-muc/them}">Thêm mới</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTag"
           aria-expanded="true" aria-controls="collapseTag">
            <i class="fas fa-fw fa-tags"></i>
            <span>Thẻ bài viết</span>
        </a>
        <div id="collapseTag" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thao tác:</h6>
                <a class="collapse-item" th:href="@{/quan-tri/the/danh-sach}">Danh sách</a>
                <a class="collapse-item" th:href="@{/quan-tri/the/them}">Thêm mới</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý bình luận
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseComment"
           aria-expanded="true" aria-controls="collapseComment">
            <i class="fas fa-fw fa-comment"></i>
            <span>Bình luận</span>
        </a>
        <div id="collapseComment" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thao tác:</h6>
                <a class="collapse-item" th:href="@{/quan-tri/binh-luan/danh-sach}">Danh sách</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCommentReport"
           aria-expanded="true" aria-controls="collapseCommentReport">
            <i class="fas fa-fw fa-flag"></i>
            <span>Báo cáo bình luận</span>
        </a>
        <div id="collapseCommentReport" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thao tác:</h6>
                <a class="collapse-item" th:href="@{/quan-tri/bao-cao-binh-luan/danh-sach}">Danh sách</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý liên hệ
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContact"
           aria-expanded="true" aria-controls="collapseContact">
            <i class="fas fa-fw fa-question"></i>
            <span>Liên hệ</span>
        </a>
        <div id="collapseContact" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thao tác:</h6>
                <a class="collapse-item" th:href="@{/quan-tri/lien-he/danh-sach}">Danh sách</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
</body>
</html>