<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}"
>

<head>
    <title>Chi tiết bình luận</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Chi tiết bình luận</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!--      messages      -->
        <div th:if="${message != null}" th:class="|alert alert-${alert} alert-dismissible fade show text-center|" role="alert">
            <span th:class="|text-${alert} mb-0|" th:text="${message}"/>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <p class="mb-0">Chi tiết bình luận</p>
            <a class="mb-0" th:href="@{/quan-tri/binh-luan/danh-sach}">
                Quay lại danh sách
            </a>
        </div>

        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td th:text="${model.id}"></td>
                </tr>
                <tr>
                    <th>Bài viết</th>
                    <td>
                        <a th:href="@{/quan-tri/bai-viet/danh-sach/{id}(id=${model.post.id})}"
                           th:text="${model.post.title}"
                        />
                    </td>
                </tr>
                <tr>
                    <th>Người tạo</th>
                    <td>
                        <a th:href="@{/quan-tri/bai-viet/danh-sach/{id}(id=${model.user.id})}"
                           th:text="${model.user.fullName}"
                        />
                    </td>
                </tr>
                <tr>
                    <th>Phản hồi từ bình luận</th>
                    <td th:text="${model.parent == null} ? 'Không có' : model.parent.id" />
                </tr>
                <tr>
                    <th>Nội dung</th>
                    <td th:text="${model.content}"></td>
                </tr>
                <tr>
                    <th>Xem các phản hồi</th>
                    <td>Pending...</td>
                </tr>
                <tr>
                    <th>Trạng thái</th>
                    <td>
                        <select class="form-control w-25" id="statusSelect">
                            <option
                                th:each="status : ${T(com.vietphat.newswave.enums.CommentStatus).values()}"
                                th:value="${status}"
                                th:text="${status}"
                                th:selected="${model.status.name().equals(status.name())}"
                            />
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Tạo bởi</th>
                    <td th:text="${model.createdBy}"></td>
                </tr>
                <tr>
                    <th>Ngày tạo</th>
                    <td th:text="${#dates.format(model.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng bởi</th>
                    <td th:text="${model.modifiedBy}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng</th>
                    <td th:text="${#dates.format(model.modifiedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<div layout:fragment="bottom-content">
    <!-- Change Status Modal -->
    <div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thay đổi trạng thái bình luận?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="statusForm" th:action="@{/quan-tri/binh-luan/thay-doi-trang-thai/{id}(id=${model.id})}" method="post">
                    <div class="modal-body">
                        <p>
                            Xác nhận thay đổi trạng thái bình luận?
                        </p>
                        <div class="form-group">
                            <input type="hidden" id="statusInput" name="status"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                        <button id="statusButton" type="submit" class="btn btn-success">Đồng ý</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="bottom-script" th:inline="javascript">
    $(function() {
        const changeStatusModal = $('#changeStatusModal');
        const statusInput = $('#statusInput');
        const modelStatus = /*[[${model.status}]]*/;

        $('#statusSelect').on('change', function(e) {
            const selectedStatus = $(this).find(':selected').val();

            if (selectedStatus !== modelStatus) {
                statusInput.val(selectedStatus);
                changeStatusModal.modal();
            }

        });
    });
</script>
</body>
</html>