<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}"
>

<head>
    <title>Chi tiết bài viết</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Chi tiết bài viết</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <p class="mb-0" th:text="|Chi tiết bài viết: ${model.title}|"/>
            <a class="mb-0" th:href="@{/quan-tri/bai-viet/danh-sach}">
                Quay lại danh sách
            </a>
        </div>

        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td th:text="${model.id}"></td>
                </tr>
                <tr>
                    <th>Tiêu đề</th>
                    <td th:text="${model.title}"></td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td th:text="${model.slug}"></td>
                </tr>
                <tr>
                    <th>Ảnh bìa</th>
                    <td>
                        <img class="img-fluid"
                             th:src="@{${model.getThumbnailPath()}}"
                             style="width: 300px;" alt="Ảnh bìa"
                        >
                    </td>
                </tr>
                <tr>
                    <th>Mô tả ngắn</th>
                    <td th:text="${model.shortDescription}"></td>
                </tr>
                <tr>
                    <th>Nội dung</th>
                    <td>
                        <a th:href="@{/bai-viet/{slug}(slug=${model.slug})}">Xem nội dung bài viết</a>
                    </td>
                </tr>
                <tr>
                    <th>Lượt xem</th>
                    <td th:text="${model.views}"></td>
                </tr>
                <tr>
                    <th>Trạng thái</th>
                    <td th:text="${model.published}"></td>
                </tr>
                <tr>
                    <th>Ngày đăng</th>
                    <td th:text="${#dates.format(model.publishedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>Danh mục</th>
                    <td>
                        <a th:href="@{/quan-tri/bai-viet/danh-sach(category=${model.category.code}, page=1, size=5)}"
                           th:text="${model.category.name}"
                        />
                    </td>
                </tr>
                <tr>
                    <th>Người đăng</th>
                    <td>
                        <a th:href="@{/quan-tri/nguoi-dung/danh-sach/{id}(id=${model.postedUser.id})}"
                           th:text="${model.postedUser.fullName}"
                        />
                    </td>
                </tr>
                <tr>
                    <th>Thẻ bài viết</th>
                    <td>
                        <p th:each="tag : ${model.tags}" class="mb-0">
                            <a th:href="@{/quan-tri/bai-viet/danh-sach(tag=${tag.code})}" class="badge badge-secondary" th:text="${tag.name}"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>Tạo bởi</th>
                    <td th:text="${model.createdBy}"></td>
                </tr>
                <tr>
                    <th>Ngày tạo</th>
                    <td th:text="${#dates.format(model.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng bởi</th>
                    <td th:text="${model.modifiedBy}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng</th>
                    <td th:text="${#dates.format(model.modifiedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
</body>
</html>