<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}"
>

<head>
    <title th:text="${model.id == null ? 'Thêm mới' : 'Chỉnh sửa'}"/>
</head>

<body>
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"
        th:text="${model.id == null ? 'Thêm mới người dùng' : 'Chỉnh sửa người dùng'}"/>

    <div class="card">
        <!--      messages      -->
        <div th:if="${message != null}" th:class="|alert alert-${alert} alert-dismissible fade show text-center|" role="alert">
            <span th:class="|text-${alert} mb-0|" th:text="${message}"/>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card-header d-flex justify-content-between">
            <p class="mb-0">Các trường đánh dấu <span class="text-danger">(*)</span> là các trường bắt buộc.</p>
            <a class="mb-0" th:href="@{/quan-tri/nguoi-dung/danh-sach}">
                Quay lại danh sách
            </a>
        </div>
        <div class="card-body">
            <form th:object="${model}" method="post" class="row">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group col-6">
                    <label th:for="username">Tên đăng nhập <span class="text-danger">(*)</span></label>
                    <input th:field="*{username}" type="text" class="form-control" placeholder="Tên đăng nhập..."/>
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                </div>

                <div th:if="${model.id == null}" class="form-group col-6">
                    <label th:for="password">Mật khẩu <span class="text-danger">(*)</span></label>
                    <input th:field="*{password}" type="password" class="form-control" placeholder="Mật khẩu..."/>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                </div>

                <div th:if="${model.id != null}" class="form-group col-6">
                    <!-- Button trigger change password modal -->
                    <label>Thay đổi mật khẩu</label>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary btn-icon-split" data-toggle="modal"
                                data-target="#changePasswordModal">
                            <span class="icon text-white-50">
                                <i class="fas fa-key"></i>
                            </span>
                            <span class="text">Thay đổi mật khẩu</span>
                        </button>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label th:for="fullName">Tên đầy đủ <span class="text-danger">(*)</span></label>
                    <input th:field="*{fullName}" type="text" class="form-control" placeholder="Tên đầy đủ..."/>
                    <span class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"/>
                </div>

                <div class="form-group col-6">
                    <label th:for="email">Địa chỉ email <span class="text-danger">(*)</span></label>
                    <input th:field="*{email}" type="email" class="form-control" placeholder="Email..."/>
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                </div>

                <div class="form-group col-6">
                    <label th:for="phoneNumber">Số điện thoại</label>
                    <input th:field="*{phoneNumber}" type="text" class="form-control" placeholder="Số điện thoại..."/>
                    <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"/>
                </div>

                <div class="form-group col-6">
                    <label th:for="dateOfBirth">Ngày sinh</label>
                    <input th:field="*{dateOfBirth}" type="date" class="form-control" pattern="yyyy-MM-dd" />
                    <span class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"/>
                </div>

                <div class="col-12 mb-3">
                    <label>Chọn quyền người dùng <span class="text-danger">(*)</span></label>
                    <span class="text-danger" th:if="${#fields.hasErrors('roleCodes')}" th:errors="*{roleCodes}"/>
                    <div class="row mx-2 p-2 border rounded">
                        <div class="form-check col-6" th:each="role : ${T(com.vietphat.newswave.enums.UserRole).values()}">
                            <input class="form-check-input"
                                   type="checkbox"
                                   th:id="|role-${role.ordinal}|"
                                   th:name="roleCodes"
                                   th:value="${role}"
                                   th:checked="${model.containsRole(role)}"
                            />
                            <label class="form-check-label" th:for="|role-${role.ordinal}|"
                                   th:text="${#strings.capitalize(role.toString())}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <label th:for="address">Địa chỉ</label>
                    <textarea th:field="*{address}" rows="4" class="form-control" placeholder="Địa chỉ..."></textarea>
                    <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
                </div>

                <div th:if="${model.id != null}" class="form-group col-12">
                    <label th:for="status">Trạng thái hoạt động</label>
                    <select th:field="*{status}" class="custom-select">
                        <option th:each="status : ${T(com.vietphat.newswave.enums.UserStatus).values()}"
                                th:value="${status}"
                                th:text="${#strings.capitalize(status.toString())}"
                                th:selected="${model.status.equals(status)}">
                            Trạng thái
                        </option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"/>
                </div>

                <div class="form-group col-12">
                    <button th:class="|btn btn-${model.id == null ? 'success' : 'info'}|" type="submit"
                            th:text="${model.id == null ? 'Thêm' : 'Sửa'}"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:if="${model.id != null}" layout:fragment="bottom-content">
    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thay đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/quan-tri/nguoi-dung/doi-mat-khau/{id}(id=${model.id})}"
                      th:object="${resetPasswordDTO}"
                      method="post">
                    <div class="modal-body">
                        <input type="hidden" name="id" th:value="${model.id}"/>
                        <div class="form-group">
                            <input class="form-control" type="password" th:field="*{password}" placeholder="Mật khẩu..."/>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" th:field="*{confirmPassword}" placeholder="Xác nhận mật khẩu..."/>
                            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-info">Lưu thay đổi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="bottom-script" type="text/javascript" th:inline="javascript">
    // Open the modal automatically
    $(document).ready(function() {
        const modalIsShown = /*[[${modalIsShown}]]*/;

        if (modalIsShown) {
            $('#changePasswordModal').modal('show');
        }
    });
</script>

</body>
</html>