<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}"
>

<head>
    <title>Chi tiết danh mục bài viết</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Chi tiết danh mục bài viết</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <p class="mb-0" th:text="|Chi tiết danh mục: ${model.name}|"/>
            <a class="mb-0" th:href="@{/quan-tri/danh-muc/danh-sach}">
                Quay lại danh sách
            </a>
        </div>

        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td th:text="${model.id}"></td>
                </tr>
                <tr>
                    <th>Tên danh mục</th>
                    <td th:text="${model.name}"></td>
                </tr>
                <tr>
                    <th>Mã danh mục</th>
                    <td th:text="${model.code}"></td>
                </tr>
                <tr>
                    <th>Các bài viết</th>
                    <td>
                        <a th:href="@{/quan-tri/bai-viet/danh-sach(category=${model.code}, page=1, size=5)}">
                            Xem danh sách bài viết thuộc danh mục này
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Tạo bởi</th>
                    <td th:text="${model.createdBy}"></td>
                </tr>
                <tr>
                    <th>Ngày tạo</th>
                    <td th:text="${#dates.format(model.createdDate, 'dd-MM-yyyy hh:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng bởi</th>
                    <td th:text="${model.modifiedBy}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng</th>
                    <td th:text="${#dates.format(model.modifiedDate, 'dd-MM-yyyy hh:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
</body>
</html>