<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth}"
>
<head>
    <title>Quên mật khẩu</title>
</head>
<body class="bg-gradient-primary">
<div layout:fragment="content" class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Bạn đã quên mật khẩu?</h1>
                                    <p class="mb-4">Hãy gửi cho chúng tôi địa chỉ email của bạn
                                        , chúng tôi sẽ gửi đường dẫn để bạn tạo lại mật khẩu mới!</p>
                                    <p th:if="${message != null}" th:text="${message}"
                                       th:class="|alert alert-${alert} font-weight-light|"/>
                                </div>
                                <form class="user" th:action="@{/xac-thuc/quen-mat-khau}" method="post">
                                    <div class="form-group">
                                        <input name="email" type="email" class="form-control form-control-user"
                                               aria-describedby="emailHelp" placeholder="Địa chỉ Email..." required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Gửi yêu cầu
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/xac-thuc/dang-ky}">Chưa có tài khoản? Đăng ký ngay!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/xac-thuc/dang-nhap}">Quay lại đăng nhập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>