<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
    <h1>Đăng nhập</h1>


    <div th:if="${param.incorrectCredentials}">
        <span>Tài khoản hoặc mật khẩu không chính xác</span>
    </div>
    <form th:action="@{/j_spring_security_check}" method="post">

        <input type="text" name="j_username" placeholder="Tài khoản" />

        <input type="password" name="j_password" placeholder="Mật khẩu" />

        <input type="submit" value="Đăng nhập" />

    </form>

</body>
</html>