<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth}"
>
<head>
    <title>Đăng ký</title>
</head>
<body class="bg-gradient-primary">
<div layout:fragment="content" class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản</h1>
                        </div>
                        <form method="post" th:action="@{/xac-thuc/dang-ky}" th:object="${user}" class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{fullName}" type="text" class="form-control form-control-user"
                                           placeholder="Tên đầy đủ">
                                    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                                          class="text-danger font-weight-light"/>
                                </div>
                                <div class="col-sm-6">
                                    <input th:field="*{email}" type="email" class="form-control form-control-user"
                                           placeholder="Email">
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                          class="text-danger font-weight-light"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input th:field="*{username}" type="text" class="form-control form-control-user"
                                       placeholder="Tên đăng nhập">
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                      class="text-danger font-weight-light"/>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{password}" type="password" class="form-control form-control-user"
                                           placeholder="Mật khẩu">
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                          class="text-danger font-weight-light"/>
                                </div>
                                <div class="col-sm-6">
                                    <input th:field="*{confirmPassword}" type="password"
                                           class="form-control form-control-user" placeholder="Xác nhận mật khẩu">
                                    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                          class="text-danger font-weight-light"/>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Đăng ký ngay"/>
                            <hr>
                            <a href="#" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Đăng nhập bằng Google
                            </a>
                            <a href="#" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập bằng Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/xac-thuc/quen-mat-khau}">Quên mật khẩu?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" th:href="@{/xac-thuc/dang-nhap}">Đã có tài khoản? Đăng nhập ngay!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>