<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}"
>

<head>
    <title>Chi tiết mã tạo lại mật khẩu</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Chi tiết mã tạo lại mật khẩu</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <p class="mb-0">Mã tạo lại mật khẩu</p>
            <a class="mb-0" th:href="@{/quan-tri/ma-tao-lai-mat-khau/danh-sach}">
                Quay lại danh sách
            </a>
        </div>

        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td th:text="${model.id}"></td>
                </tr>
                <tr>
                    <th>Token</th>
                    <td>
                        <a th:href="@{/xac-thuc/tao-lai-mat-khau/{token}(token=${model.token})}" th:text="${model.token}"></a>
                    </td>
                </tr>
                <tr>
                    <th>Người sở hữu</th>
                    <td>
                        <a th:href="@{/quan-tri/nguoi-dung/danh-sach/{id}(id=${model.user.id})}" th:text="${model.user.username}" />
                    </td>
                </tr>
                <tr>
                    <th>Ngày hết hạn</th>
                    <td th:text="${#dates.format(model.expiryDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>Tạo bởi</th>
                    <td th:text="${model.createdBy}"></td>
                </tr>
                <tr>
                    <th>Ngày tạo</th>
                    <td th:text="${#dates.format(model.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng bởi</th>
                    <td th:text="${model.modifiedBy}"></td>
                </tr>
                <tr>
                    <th>Lần chỉnh sửa cuối cùng</th>
                    <td th:text="${#dates.format(model.modifiedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
</body>
</html>